/*=FONTS
------------------------------------------------------------------------*/
@font-face {
    font-family: "Ranchers";
    src: url("../fonts/Ranchers/Ranchers-Regular.ttf");
}

@font-face {
    font-family: "Magra";
    src: url("../fonts/Magra/Magra-Regular.ttf");
}

h1{
    text-align: center;
    font-family: "Ranchers", Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    letter-spacing: 15px;
}

p{
    text-align: center;
    font-family: "Magra", Verdana, Tahoma, sans-serif;
    font-size: 15px;
}
/*=COLORS
-----------------------------------------------------------------------*/
:root{
    --backgrounds: #1b033b;
    --clearBlue: #00c6e0;
    --darkBlue: #082b9E;
    --slimyGreen: #0cf771;
    --grassGreen: #40b804;

    --slimePink: #CE77BF;
    --originalSlime: #4DBA30;
    --slimeRed: #B5282D;
    --slimeOrange:#D17E2D;

    --slimeCoal: #292523;
}
