body{
    margin: 0;
    background-image: url(../img/overworld.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainBox{
    position: absolute;
    left: 28%;
    top: 5%;
    width: 44%;
    height: 92%;
    background-color: #B8C0D4;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    border: 3px solid black;
    box-sizing: border-box;
}

#colors{
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    width: 25%;
    height: 65%;
    border: 2px solid black;
    background-color: #C5D7D9;
}

#mySlime{
    position: absolute;
    left: 25%;
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
    height: 65%;
    border: 3px solid black;
    background-color: var(--backgrounds);
    margin: 0;
    background-image: url(../img/slimeBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#actions{
    width: 100%;
    height: 25%;
    background-color: #4F5159;
    color: white;
}
#overworldd{
    width: 100%;
    height: 50%;
}
h5{
    font-size: 11px;
}
.overworld{
    box-sizing: border-box;
    height: 35%;
    width: 50%;
    margin: 10% 25% 10% 25%;
    border-radius: 10%;
    cursor: pointer;
}
/*=Slime style
--------------------------------------------------------------*/
.animations{
    display: inline-block;
    box-sizing: border-box;
    margin: 0 -1% 0 0;
    border: 2px solid black;
    height: 100%;
    width: 33.6%;
    cursor: pointer;
}
.animations > p{
    position: relative;
    top: 33%;
}
.animations > p{
    cursor: pointer;
}
#rojo{
    background-color: var(--slimeRed);
}
#rosa{
    background-color: var(--slimePink);
}
#verde{
    background-color: var(--originalSlime);
}
#naranja{
    background-color: var(--slimeOrange);
}
#bedrock, #lava{
    background-color: var(--slimeCoal);
}
#Slime1{
    position: relative;
    border: 10px solid #3d9126;
    top: 55%;
    right: 40%;
    display: inline;
    float: right;
    width: 30%;
    height: 35%;
    background-color: var(--originalSlime);
}
#Slime2{
    position: relative;
    border: 10px solid #3d9126;
    top: 55%;
    right: -15%;
    display: inline;
    float: right;
    width: 20%;
    height: 35%;
    background-color: var(--originalSlime);
}
#ojo1, #ojo2, #mouth{
    display: inline-block;
    width: 20%;
    height: 15%;
    background-color: black;
}
#ojo1{
    position: relative;
    left: 20%;
    top: 20%;
}
#ojo2{
    position: relative;
    left: 40%;
    top: 20%;
}
#mouth{
    position: relative;
    left: 10%;
    top: 60%;
    width: 10%;

}
/*=Inicialización
------------------------------------------------------- */
.move1{
    animation: jump 1s linear 0.5s infinite alternate;
}

.move2{
    animation: inflate 2s linear 0.5s infinite alternate;
}
.move3{
    animation: cuddle 1.5s linear 0.5s infinite alternate;
}
/*=Animations
------------------------------------------------------- */
@keyframes jump {
    0%{
        transform: scale(100%, 98%);
    }
    10%{
        transform: scale(100%,91%);
    }
    30%{
        transform: scale(100%, 85%);
    }
    60%{
        transform: scale(100%, 98%);
    }
    70%{
        transform: scale(100%, 110%);
        transform: translate(0, -15%);
    }
    80%{
        transform: scale(100%, 110%);
        transform: translate(0, -28%);    
    }
    100%{
        transform: scale(100%, 115%);
        transform: translate(0, -60%);
    }
}
@keyframes cuddle {
    0%{
        transform: scale(100%, 100%);
    }
    10%{
        transform: scale(98%,91%);
    }
    30%{
        transform: scale(95%,85%);
    }
    60%{
        transform: scale(95%,90%);
        transform: rotate(-2deg);
    }
    80%{
        transform: scale(94%,90%);
        transform: rotate(2deg);
    }
    100%{
        transform: scale(96%,92%);
    }
}
@keyframes inflate {
    0%{
        transform: scale(100%, 100%);
    }
    10%{
        transform: scale(104%,106%);
    }
    30%{
        transform: scale(109%,111%);
        border-radius: 8% 8% 8% 8%;
    }
    60%{
        transform: scale(115%,118%);
        border-radius: 10% 10% 10% 10%;
    }
    80%{
        transform: scale(119%,125%);
        border-radius: 14% 14% 14% 14%;
    }
    100%{
        transform: scale(115%,118%);
        border-radius: 20% 20% 20% 20%;
    }
}